

#txtBusca{
  float:left;
  background-color:white;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:40px;
  width:200px;
}

#btnBusca{
  float:left;
  cursor:pointer;
  height:40px;
  width:130px;
}

#divBusca img{
  float:left;
  border-radius:0px;
 
  
}

#divBusca{
  border:solid 10px rgba(0,0,0);
  border-radius:10px;
  height:60px;
  width:470px;
}


