@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
body{
    background-color: #AAAAAA;
    margin: 0;
}

header{
    display: block;
    height: 400px;
    text-align: center;
    background-color:#000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



h1{
    
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color:#FFFFFF;
    padding-top: 10%;
    text-shadow: #696969 2px;

}

menu-principal{
    width: 100%;
    background-color: #696969;
    height: 20px;

}

#inicio{
    display:block;
    height: 800px;
    background-image:url(../img/Fundo.jpg);
    background-repeat:no-repeat;
    
    
    

}

#elenco{
    display:block;
    height: 800px;
    background-color: white;
    background-image:url(../img/Fundo.jpg);
    background-position: center;
    background-repeat:no-repeat;
}

#historia{
    display:block;
    height: 800px;
    background-image: url(../img/historia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;

}

#titulos{
    display:block;
    height: 800px;
    background-color: white;
    background-image: url(../img/titulos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#estadio{
    display:block;
    height: 800px;
    background-image: url(../img/Fundoestadio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#Outros{
    display:block;
    height: 800px;
    background-image: url(../img/Fundo.jpg);
    background-color: white

}

h2{
    padding-top:10px;
    font-size: 18px;
    font-weight: bold;
   background-color: rgb(111, 0, 255);
   text-align:center;
}

h6{
    padding-top:10px;
    font-size: 18px;
    font-weight: bold;
   background-color: black;
   text-align:center;
}


nav ul{
    display: inline-flex;
}

nav ul li{
    display: block;
    padding: 10px;
}

nav ul li a{
    display: block;
    background-color: #0e0d0d;
    padding: 10px;
    text-decoration: none;
}

nav ul li a:link, a:visited{
    color: #FFFFFF;
}

nav ul li a:hover{
    color: #000000;
    background-color: #ffffff;
}

footer{
    height: 200px;
    background-color:white;
    color:#FFFFFF;
}   
    
